
.p_style{
display: inline-flex;
  width: auto;
}
.bold{
    font-weight: bolder;
    color: #000000;
}
.avatar_url{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.main_panel{
    width: 20%;
    margin: auto;
}
.name{
    font-weight: bolder;
    font-size: 35px;
    margin: 10px auto 0px auto;

}
.login{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.bio{
    font-size: 15px;
    margin: 3px auto;
    color: #a9a9a9;
}
.company{
    font-size: 15px;
    margin: 3px auto;
    color: #a9a9a9;
}
.location{font-size: 15px;
    margin: 2px auto;
    color: #a9a9a9;
}
.email{
    display: block;
    font-size: 15px;
    margin: 3px auto;
    color: #0000ff;
}
.blog{
    display: block;
    font-size: 15px;
    margin: 3px auto;
    color: #0000ff;
}
.nf_style{
    font-size: 15px;
    margin: 3px auto;
    color: #a9a9a9;
}
.company:before{
    content: url("images/human_icon.svg");
    width: 10px;
    height: 10px;
}
.location:before{
    content: url("images/location_icn.svg");
    width: 10px;
    height: 10px;
}
.email:before{
    content: url("images/mail_icn.svg");
    width: 10px;
    height: 10px;
}
.blog:before{
    content: url("images/contact_icn.svg");
    width: 10px;
    height: 10px;
}