body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.p_style{
  display: inline-flex;
    width: auto;
  }
  .bold{
      font-weight: bolder;
      color: #000000;
  }
  .avatar_url{
      margin-top: 1%;
      border-radius: 5px;
      width: 90%;
     
  }
  .main_panel{
      width: 20%;
      margin: auto;
  }
  .name{
      font-weight: bolder;
      font-size: 35px;
      margin: 10px auto 0px auto;
  
  }
  .login{
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .bio{
      font-size: 15px;
      margin: 3px 0 ;
      color:#a9a9a9;
      width: 80%
  }
  .company{
      font-size: 15px;
      margin: 3px 1px;
      color: #a9a9a9;
      display: inline;
  }
  .location{font-size: 15px;
      margin: 2px 13px;
      color: #a9a9a9;
      display: inline;
  }
  .email{
      display: inline;
      font-size: 15px;
      margin: 3px 6px;
      color: #0000ff;
  }
  .blog{
      display: inline;
      font-size: 15px;
      margin: 3px 5px;
      color: #0000ff;
  }
  .nf_style{
      font-size: 15px;
      margin: 3px auto;
      color: #a9a9a9;
  }
  .button_search{
    margin-top: 1%;
    width: 80px;
    height: 21px;
    
  }
  .search_user_window{
    width: 90%;
    padding-left: 1%;
    
  
  }
  .hr_line{
    
    width: 260px;
    margin-left: 0;
        
  }
.marker_line{
    margin-left: -1%;
}
.email_line{
    margin-left: -1%;
}
.blog_line{
    margin-left: -1%;
}
.company_line{
    margin-left: -1%;
}
.tabs_part{
    
    width: 80%;
   


}
.main_window{
    display:flex;
    justify-content: flex-start;
    height: 700px;
    margin-top: 2%;
    
}
.default_tabs{
    
    display: block;
    width: 900px;
    height: 500px;
    margin: 0;
}
.default_tab_button{
    margin: 0 5px 5px 1%;
    padding: 5px;
    width: 100px;
    background-color: #a9a9a9;
    
    color:black;
    border-radius: 10px;
    text-decoration: none;
}
.active_tab_button{
    margin: 0 5px 5px 1%;
    padding: 5px;
    width: 100px;
    background-color: #a9a9a9;
    border: 4px solid rgb(8, 247, 8);
    color:black;
    border-radius: 10px;
    text-decoration: none;
}


.button_edit{
    
    margin: 5px 0 5px 770px;
    height: 30px;
    width: 100px;
}
.button_emphasis{
   
    width: 100px;
    background: #000000;
    border-color: #000000
}
.button_emphasis_none{
    display: none;
}

.button_block{
    width: 100px;
    height: 50px;
    display: flex;
    flex-flow: column;
}
.button_panel{
    display: flex;
}
.ScrollPanel{
    display: block;
    margin-top:10px;
    height: 500px;
    width:900px;
}